/** Account Settings **/

.customTitle {
  color: white;
  font-size: 25px;
  text-align: left;
}

.formContainer {
    border: 1px solid white;
    
}

.inputBox {
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 8px;
}

.customLabel {
  color: #1aa3ff;
  
}