/**
* App : $tockR
* File Name: SettingComponent.scss
* Description : This is the custom stylesheet for Setting Component.
**/


/** Account Settings Style **/

.customTitle {
  color: white;
  text-align: left;
}

.formContainer {
  border: 1px solid grey;
}

.inputBox {
  color: black;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.customLabel {
  font-weight: bolder;
}
