<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: right;">$tockR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h1 class="customHeader">Account Info</h1>
  </div>
  <div class="formContainer">
    <ion-row>
      <h1 class="customTitle" padding> Edit Account Info</h1>
    </ion-row>
    <div padding-left>
      <ion-list padding *ngIf="updateErrors.length > 0">
        <ion-item *ngFor="let error of updateErrors" color="danger">
          <ion-label> {{ error }} </ion-label>
        </ion-item>
      </ion-list>
      <ion-list padding *ngIf="updateMessages.length > 0">
        <ion-item *ngFor="let message of updateMessages" color="primary">
          <ion-label> {{ message }} </ion-label>
        </ion-item>
      </ion-list>

      <!-- form -->

      <ion-label class="customLabel">First Name </ion-label>
      <ion-input type="text" class="inputBox" [(ngModel)]="firstName"></ion-input>

      <ion-label class="customLabel">Last Name</ion-label>
      <ion-input type="text" class="inputBox" [(ngModel)]="lastName"></ion-input>

      <ion-label class="customLabel">Email</ion-label>
      <ion-input type="email" class="inputBox" [(ngModel)]="email"></ion-input>

      <ion-col>
        <ion-row padding-top>
          <button ion-button  color="primary" small (click)="update();">Update Account</button>
          <button ion-button color="danger" small (click)="deleteAccount();">Delete Account</button>
        </ion-row>
      </ion-col>
    </div>
  </div>
</ion-content>
