<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: right;">$tockR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h1 class="customHeader">Account Settings </h1>
  </div>
  <div class="formContainer">
    <div padding>

      <ion-list padding *ngIf="updateErrors.length > 0">
        <ion-item *ngFor="let error of updateErrors" color="danger">
          <ion-label> {{ error }} </ion-label>
        </ion-item>
      </ion-list>
      <ion-list padding *ngIf="updateMessages.length > 0">
        <ion-item *ngFor="let message of updateMessages" color="primary">
          <ion-label> {{ message }} </ion-label>
        </ion-item>
      </ion-list>

      <!-- form -->

      <ion-label color="secondary" class="customLabel">FIRST NAME </ion-label>
      <ion-input type="text" class="inputBox" [(ngModel)]="firstName"></ion-input>

      <ion-label color="secondary" class="customLabel">LAST NAME</ion-label>
      <ion-input type="text" class="inputBox" [(ngModel)]="lastName"></ion-input>

      <ion-label color="secondary" class="customLabel">EMAIL </ion-label>
      <ion-input type="email" class="inputBox" [(ngModel)]="email"></ion-input>

      <ion-col>

        <button ion-button full color="primary" small (click)="update();">Update</button>
        <button ion-button full color="danger" small (click)="deleteAccount();">Delete</button>

      </ion-col>
    </div>
  </div>
</ion-content>
