<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="errorList.length > 0">
    <ion-item *ngFor="let error of errorList" color="danger"> {{ error }} </ion-item>
  </ion-list>

  <ion-list padding *ngIf="messageList.length > 0">
    <ion-item *ngFor="let message of messageList" color="danger">
      <ion-icon name="information-circle"> {{ message }} </ion-icon>
    </ion-item>
  </ion-list>
  <!-- Feed List -->
  <ion-list>
    <div *ngIf="feedList.length > 0 && displayStockList === true && displayStockDetails === false">
      <div *ngFor="let stock of feedList">
        <ion-card>
          <ion-card-content class="customFeedList">
            <ion-row>

              <ion-col>
                <ion-row class="customBigFont">
                  {{ stock.symbol }}
                </ion-row>
                <ion-row>
                  {{ stock.name }}
                </ion-row>
              </ion-col>
              <ion-col>
                <ion-row class="customPriceFont">
                  ${{ stock.askingPrice }}
                </ion-row>
              </ion-col>

              <ion-row class="buttonRow">
                <ion-col>
                  <button ion-button color="primary" small (click)="displayDetails(stock)"> Details</button>
                </ion-col>
                <ion-col>
                  <button ion-button color="danger" small (click)="removeStockFromWatchList(stock.symbol)">Delete </button>
                </ion-col>
              </ion-row>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-list>
  <!-- View details section -->
  <div *ngIf="displayStockList === false && displayStockDetails === true">
    <div>
      <h1 class="customHeader"> {{ currentStock.name }} ( {{ currentStock.symbol }} ) </h1>
      <h2 class="customPriceFont">${{ currentStock.askingPrice }}</h2>
    </div>
    <div class="customFeedList">
      <ion-card padding>
        <ion-col>
          <ion-list>
            <ion-item>
              Today's Highest Bid : ${{ currentStock.todaysHighestBid }}
            </ion-item>
            <ion-item>
              Today's Lowest Bid : ${{ currentStock.todaysLowestBid }}
            </ion-item>

            <ion-item>
              Change In Percent : {{ currentStock.changeInPercent }}
            </ion-item>

            <ion-item>
              Last Trade : {{ currentStock.lastTrade }}
            </ion-item>

            <ion-item>
              This Week's Highest Price : ${{ currentStock.thisWeeksHighestPrice }}
            </ion-item>
            <ion-item>
              This Week's Lowest Price : ${{ currentStock.thisWeeksLowestPrice }}
            </ion-item>

            <ion-item>
              Earnings Per Share : ${{ currentStock.earningsPerShare }}
            </ion-item>
            <ion-item>
              Week's Range : ${{ currentStock.weeksRange }}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-card>
      <ion-col>
        <ion-row>
          <button ion-button full (click)="hideDetails()"><ion-icon name="arrow-back"></ion-icon></button>
        </ion-row>
      </ion-col>
    </div>
  </div>
</ion-content>
