<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="errorList.length > 0">
    <ion-item *ngFor="let error of errorList" color="danger"> {{ error }} </ion-item>
  </ion-list>

  <ion-list padding *ngIf="messageList.length > 0">
    <ion-item *ngFor="let message of messageList" color="danger">
      <ion-icon name="information-circle"> {{ message }} </ion-icon>
    </ion-item>
  </ion-list>
  <!-- Feed List -->
  <ion-list>
    <div *ngIf="feedList.length > 0 && displayStockList === true && displayStockDetails === false">
      <div *ngFor="let stock of feedList">

        <ion-card>
          <ion-card-content class="customFeedList">

            <ion-row>

              <ion-col col-4>
                <ion-row>
                  <h1> {{ stock.symbol }} </h1>
                </ion-row>
                <ion-row>
                  {{ stock.name }}
                </ion-row>
              </ion-col>

              <ion-col col-4>
                <ion-row class="customPriceFont">
                  ${{ stock.askingPrice }}
                </ion-row>
              </ion-col>

              <ion-col col-4>
                <ion-row>
                  <button ion-button color="primary" small (click)="displayDetails(stock)">Details</button>
                </ion-row>
                <ion-row>
                  <button ion-button color="danger" small (click)="removeStockFromWatchList(stock.symbol)">Remove</button>
                </ion-row>
              </ion-col>

            </ion-row>

          </ion-card-content>
        </ion-card>

      </div>
    </div>
  </ion-list>

  <!-- View details section -->
  <div *ngIf="displayStockList === false && displayStockDetails === true">
    <div>
      <h1 class="customHeader"> {{ currentStock.name }} </h1>
      <h3 class="customPriceFont"> ( {{ currentStock.symbol }} ) </h3>
      <h2 class="customPriceFont">${{ currentStock.askingPrice }}</h2>
    </div>
    <div>

      <ion-list>

        <ion-item>
          <ion-label stacked color="secondary"> Today's Highest Bid</ion-label>
          <ion-label> ${{ currentStock.todaysHighestBid }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary">Change In Percent </ion-label>
          <ion-label>{{ currentStock.changeInPercent }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary"> Today's Lowest Bid</ion-label>
          <ion-label> ${{ currentStock.todaysLowestBid }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary">Last Trade</ion-label>
          <ion-label> {{ currentStock.lastTrade }} </ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary">This Week's Highest Price </ion-label>
          <ion-label> ${{ currentStock.thisWeeksHighestPrice }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary">This Week's Lowest Price</ion-label>
          <ion-label>${{ currentStock.thisWeeksLowestPrice }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary">Earnings Per Share</ion-label>
          <ion-label> ${{ currentStock.earningsPerShare }} </ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary">Week's Range</ion-label>
          <ion-label> ${{ currentStock.weeksRange }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary"> Today's Lowest Bid</ion-label>
          <ion-label> ${{ currentStock.todaysLowestBid }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label stacked color="secondary"> Today's Lowest Bid</ion-label>
          <ion-label> ${{ currentStock.todaysLowestBid }}</ion-label>
        </ion-item>

      </ion-list>

    </div>

    <ion-col>
      <ion-row>
        <button ion-button full (click)="hideDetails()"><ion-icon name="arrow-back"></ion-icon></button>
      </ion-row>
    </ion-col>

  </div>
</ion-content>
