/**
* App : $tockR
* File Name: FeedComponent.scss
* Description : This is the custom stylesheet for Feed Component.
**/


/** Custom Feeds CSS **/

.buttonRow {
  padding: 5px;
}


/** Custom Font Style **/

.customFeedList {
  color: white;
}

.customBigFont {
  color: #1aa3ff;
  font-size: 22px;
  font-weight: bold;
}

.customPriceFont {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}
