/** Custom Feeds CSS **/


.customFeedList {
  color: #1aa3ff;
}

.customBigFont {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.customPriceFont {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.buttonRow {
  padding: 5px;
}

.customFeedList {
  color: white;
  text-align: center;
}
