/**
* App : $tockR
* File Name: FeedComponent.scss
* Description : This is the custom stylesheet for Feed Component.
**/


/** Custom Feeds CSS **/


/** Custom Font Style **/

.customFeedList {
  color: white;
}

.card-md h1 {
  color: #1aa3ff;
}

.customPriceFont row{
  color: white;
}
