/**
* App : $tockR
* File Name: AuthComponent.scss
* Description : This is the custom stylesheet for Auth Component.
**/


/** Main Page Container**/

.mainContainer {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


/** custom Navbar Style **/

.toolbar-background-md {
  background: transparent;
}


/** Header Customer Style **/

.header-content {
  text-align: center;
  color: white;
}

#landingPageTitle {
  font-weight: bolder;
  font-size: 55px;
  color: #1aa3ff;
  text-shadow: 2px 1px 2px #ffffff;
  letter-spacing: 2px;
}

#headerInfo,
#formTitle {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}


/** Form Styles **/

.formContainer {
  border: 1px solid #0c0d0e;
  border-radius: 4px;
  background-color: #1c1e22;
}

#formTitle {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBox {
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 8px;
}
