
<ion-content>
  <div class="mainContainer">
    <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

  <div class="header-content">
    <p id="headerInfo">Welcome to</p>
    <h1 id="landingPageTitle">StockR</h1>
  <button ion-button class="customButton" (click)="showLoginForm=true; showRegisterForm=false" >Login</button>
  <button ion-button class="customButton" (click)="showRegisterForm=true; showLoginForm=false" >Register</button>
     </div>

<!-- Register template --> 
<div class="formWrapper" *ngIf="showRegisterForm">
  <ion-card>
    <div class="formContainer">
<h2 id="formTitle"> Register </h2>
   <ion-label>First Name </ion-label>
   <ion-input type="text" class="inputBox"></ion-input>

   <ion-label>Last Name </ion-label>
   <ion-input type="text" class="inputBox" ></ion-input>

   <ion-label>Email </ion-label>
   <ion-input type="email" class="inputBox"></ion-input>

   <ion-label>Password </ion-label>
   <ion-input type="password" class="inputBox"></ion-input>

   <ion-label>Confirm Password </ion-label>
   <ion-input type="password" class="inputBox"></ion-input>

<button ion-button class="customButton"> Register </button>
<button ion-button color="danger" (click)="showRegisterForm=false"> Cancel </button>
</div>
  </ion-card>
</div>

<!-- Login template -->
  <div class="formWrapper" *ngIf="showLoginForm" >
  <ion-card>
    <div class="formContainer">
  <h2 id="formTitle">Login </h2>

  <ion-label>Email </ion-label>
  <ion-input type="email" class="inputBox"></ion-input>

  <ion-label>Password </ion-label>
  <ion-input type="password" class="inputBox"></ion-input>

<button ion-button class="customButton"> Login </button>
<button ion-button color="danger" (click)="showLoginForm=false"> Cancel </button>
    </div> <!-- end of formContainer-->
  </ion-card>
</div> <!-- end of formWrapper-->
</div><!-- end of mainContainer -->
</ion-content>




<!--
  <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: right;">Stockr</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Sign in | Sign Up</h3>

  <div id="signIn">
    <h3>Sign In</h3>

    <ion-list *ngIf="signUpErrors.length > 0">
      <ion-item *ngFor="let error of signUpErrors">
        <ion-label> {{ error }} </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="signInEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="signInPassword"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button outline block (click)="signIn();">Sign In</button>
  </div>
  <div id="signUp">
    <h3>Sign Up</h3>
    
    <ion-list *ngIf="signInErrors.length > 0">
      <ion-item *ngFor="let error of signInErrors">
        <ion-label> {{ error }} </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="signUpFirstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="signUpLastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="signUpEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="signUpPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="signUpConfirmPassword"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button outline block (click)="signUp()">Sign Up</button>
  </div>
</ion-content> -->
