/** Custom Styles for Search page **/

.input {
  border: 1px solid white;
}

.customButton {
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}


/** Custom Font Style **/

.customBigFont {
  color: #1aa3ff;
  font-size: 22px;
  font-weight: bold;
}

.customPriceFont {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}
