/** Custon CSS for Search Page**/


/** Custom Search Bar **/

.searchInputBar {
  border: 1px solid white;
}

.input {
  padding-top: 9px;
}


/** Custom Button**/

.customButton {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 45px;
}
