<<<<<<< HEAD
/** Custon CSS for Search Page**/


/** Custom Search Bar **/

.searchInputBar {
  border: 1px solid white;
}

.input {
  padding-top: 9px;
}


/** Custom Button**/

.customButton {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 45px;
=======
/**
* App : $tockR
* File Name: SearchComponent.scss
* Description : This is the custom stylesheet for Search Component.
**/


/** Custom Styles for Search page **/


/** Custom Font Style **/

.customPriceFont {
  color: white;
  text-align: center;
>>>>>>> master
}
