<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: right;">Stockr</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Search Stocks</h3>
  <ion-row>
    <ion-input type="text" placeholder="Type Stock Symbol Here" [(ngModel)]="symbol"></ion-input>
    <button ion-button class="customButton" (click)="search()"> <ion-icon name="search"> </ion-icon></button>
  </ion-row>
  <ion-label></ion-label>
  <!-- search results display -->
  <ion-row *ngIf="stockResult">
    <ion-label> {{stockResult.symbol}} </ion-label>
    <ion-label> {{stockResult.name}}  </ion-label>
    <ion-label> {{stockResult.askingPrice}} </ion-label>
    <button ion-button color="default" outline round> 
  <ion-icon name="information-circle"> Details</ion-icon> 
  </button>
  <button ion-button class="customButton"><ion-icon name="add-circle"> WATCHLIST</ion-icon></button>
  </ion-row>
</ion-content>
